<div class="row">
  <div style="cursor:pointer" class="col-sm border" [routerLink]="['/create/vacation']">
    <h3 class="text-center">Vacation</h3>
    <p class="text-center">Vacations are contracts where each person pays the same amount</p>
  </div>
  <div style="cursor:pointer" class="col-sm border" [routerLink]="['/create/loner']">
    <h3 class="text-center">Solo Trip</h3>
    <p class="text-center">Only one person per contract. Create a contract, and pay any amount and wait for an agent to create a funfilled day for you.</p>
  </div>
</div>
<div   class="row">
  <div style="cursor:pointer" class="col-sm border" [routerLink]="['/create/datenight']">
    <h3 class="text-center">Date Night</h3>
    <p class="text-center">Max of two people with no entry fee, Invite your significant other and pay whatever youd like for your night out.</p>
  </div>
  <div class="col-sm">
  </div>
</div>