<div class="row">
  <div style="cursor:pointer" class="col-sm border" [routerLink]="['/create/vacation']">
    <h3 class="text-center">Vacation</h3>
    <p class="text-center">Vacations are contracts where each person pays the same amount</p>
  </div>
  <div   class="col-sm border">
    <h3 class="text-center">Road Trip</h3>
    <h4 class="text-danger text-center">Not Implemented Yet!</h4>
  </div>
</div>
<div   class="row">
  <div class="col-sm border">
    <h3 class="text-center">Honeymoon</h3>
    <h4 class="text-danger text-center">Not Implemented Yet!</h4>
  </div>
  <div class="col-sm">
  </div>
</div>