<div class="btn-group center centered" style="float:right" data-toggle="buttons">
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option1" autocomplete="off" [routerLink]="['/']">Home
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option1" autocomplete="off" [routerLink]="['/create']">New
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option2" autocomplete="off" [routerLink]="['/list']">List
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3" autocomplete="off" [routerLink]="['/agent']">Agent
  </label>
</div>
<div class="clearfix"></div>

<div class="container">
  <router-outlet></router-outlet>
</div>