<h3 class="text-center text-info">Vacation Aepp</h3>
<h4 class="text-center">Deployed on Kovan</h4>
<p class="text-center">Vacation Aepp is a spontaneous trip-making application. </p>
<p><b>First</b> you create a contract that holds each person funds in "escrow." This prevents people from bailing out at the last moment and making the rest of the team pay more individually</p>

<p><b>After the registration deadline  or if contract fills up,</b> an agent is able to create an itinerary for the group. The agent receives the funds sent to the contract to pay for the trip - which he uses to pay for all expenses for the trip</p>

<hr>
<p class="text-warning">In the real world this application will probably needs proof of identity to assert who each user is, and also prove that each agent is qualified to do so.</p>