/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
/* .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-placeholder, .mat-form-field-empty.mat-form-field-placeholder {
    color: pink;
} */

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }